{% extends "base.html" %}

{% block content %}
<div class = "container">
  <h1> Welcome to the Blog! </h1>
  <div class=" container jumbotron">
    <ul class="list-group">
      {% for posts in data %}
      <li class="list-group-item">
        {{ posts.post }}
        <br>
        <b>By - {{ posts.name.name }} </b>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% if current_user.is_authenticated %}
  <div class="container">
    <form method="post" action="/">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">With textarea</span>
        </div>
        <textarea name="post" class="form-control" aria-label="Tell me"></textarea>
    </div>
    <br>
    <button class="btn btn-primary" name="submit">Submit</button>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}